# Node modules
node_modules/
package-lock.json /


# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

